html,
body {
  margin: 0;
  padding: 0.25vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  font-family: helvetica;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  font-size: 2.5vw;
}

a:link, a:visited {
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 3vw
  }
}
